@import url(./reset.css);

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body{
}


.ir{
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#root{
    background-color:  #5B2386;
    text-align: center;
    color: white;
    position: relative;
}

.test{
    color:red;
}
header{
    padding-top: 130px;

}
h1{
    position: relative;
    width: 530px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 .tit-img{
    width: 564px;
    height: 112px;
    z-index: 2;
}

h1 .clock-img{
    position: absolute;
    width: 265px;
    height: 265px;
    z-index: 1;
}

.subtit-img{
    padding-top: 135px;
    width: 486px;
    height: 40px;
    margin: 0 auto;
}

main{
    padding-top: 58px;
}

.tit-def{
    background-image: url('../img/quotes.png');
    background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 100px;
}

.tit-def-txt strong{
    font-size: 24px;
    font-weight: bold;
}

.input-section{
    font-size: 24px;
}

.input-section p input{
    width: 228px;
    height: 57px;
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 24px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 22px;
    margin: 0 10px;
}

.form-btn-container{
    padding-top: 80px;
    position: relative;
    width: 492px;
    height: 50px;
    margin: 0 auto;
    padding-bottom: 80px;
}

button{
    padding: 10px 35px;
    border: 0;
    border-radius: 56px;
    background-color: #FCEE21;
    color: #5B2386;
    font-size: 22px;
    box-sizing: border-box;
    font-weight: 800;
    cursor: pointer;

}

.click-img{
    position: absolute;
    right: -70px;
}

.result-section{
    /* padding-bottom: 100px; */
}
.result-section p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.result-section p:first-child{
    margin-bottom: 60px;
}
.result-section p:nth-child(2){
    margin-bottom: 100px;
}
.result-section p strong{
    font-size: 72px;
    line-height: 24px;
    font-weight: bold;
    padding: 0 24px;
}

.result-btn-container{
    padding-bottom: 80px;
}

.result-btn-container button:nth-child(2){
    margin-left: 18px;
    background-color: white;
}

.modal-container{
    background-color: white;
    width: 610px;
    height: 600px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-img-1{
    width: 320px;
    margin-bottom: 13px;
}
.modal-img-2{
    width: 192px;
}
.modal-container button{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
    
}
.modal-container p{
    color: #747474;
}

footer {
    padding-bottom: 70px;
}
.footer-logo{
    padding-bottom: 20px;
}
small{
    padding-top: 20px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
}